.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  caption-side: top;
  empty-cells: hide;
  table-layout: auto;
}

th,
td {
  padding: 15px;
  text-align: left;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-grid-nodata {
  width: 100%;
  text-align: center;
}

.table-center {
  width: 70%;
  margin: auto;
}

.table-full {
  width: 100%;
}
